<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../public/style.css" />
    <script src="../public/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- owl carousel -->
    <link rel="stylesheet" href="../css/owlcarousel/docs.theme.min.css" />
    <link rel="stylesheet" href="css/owlcarousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owlcarousel/owl.theme.default.min.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
      integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Go Travel</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-5" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../view/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../view/service.html">Service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../view/contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../view/about.html">About</a>
            </li>
          </ul>
          <a class="nav-link text-white" href="#lokasi">Find US!</a>
        </div>
      </div>
    </nav>
    <!-- Navbar end-->

    <!-- Head Service -->
    <div class="hero bg-dark">
      <div class="">
        <h1 class="text-center text-white">Service Kami</h1>
        <p class="text-center text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          excepturi dolorem totam alias nihil quos ducimus facilis illo. Fugit,
          ipsum?
        </p>
      </div>
    </div>
    <!-- Head end -->

    <!-- Opening -->
    <section id="s-open">
      <div class="container mt-5">
        <div class="row">
          <div class="col-lg-6">
            <div class="s-open">
              <img class="w-100 img-fluid" src="../img/s-open1.jpg" alt="" />
            </div>
          </div>
          <div class="col-lg-5 col-lg-offset-1 pt-5">
            <h3>Ikut Monica Berpetualang!</h3>
            <br />
            <p class="text-left px-4">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure
              autem itaque, vitae quia consectetur mollitia nam quod, aliquid
              assumenda inventore eligendi similique minima veniam odio
              repellendus! Ipsam nesciunt earum alias!
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- Opening end -->

    <!-- Info Sajian Service -->
    <section id="info">
      <div class="container pt-5">
        <div class="row">
          <div class="col-6 col-md-6 col-lg-3">
            <div class="media1">
              <img
                src="../img/s1-Bromo.jpg"
                alt=""
                class="info w-100 img-fluid"
              />
              <div class="d-flex">
                <div class="pt-3">
                  <h3 class="text-left">
                    <a href="#">Excellence in Travel</a>
                  </h3>
                  <p class="text-left">
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="media1">
              <img src="../img/s2.jpg" alt="" class="info w-100 img-fluid" />
              <div class="d-flex">
                <div class="pt-3">
                  <h3 class="text-left">
                    <a href="#">Excellence in Travel</a>
                  </h3>
                  <p class="text-left">
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="media1">
              <img src="../img/s3.jpg" alt="" class="info w-100 img-fluid" />
              <div class="d-flex">
                <div class="pt-3">
                  <h3 class="text-left">
                    <a href="#">Excellence in Travel</a>
                  </h3>
                  <p class="text-left">
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 col-md-6 col-lg-3">
            <div class="media1">
              <img src="../img/s4.jpg" alt="" class="info w-100 img-fluid" />
              <div class="d-flex">
                <div class="pt-3">
                  <h3 class="text-left">
                    <a href="#">Excellence in Travel</a>
                  </h3>
                  <p class="text-left">
                    Far far away, behind the word mountains, far from the
                    countries Vokalia and Consonantia, there live the blind
                    texts.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Sajian End -->

    <!-- Destinasi -->
    <section>
      <div class="container my-5">
        <div class="row">
          <h1 class="text-center mb-5">Jelajahi Destinasi</h1>
          <div class="col-12 m-auto">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="card border-0 shadow">
                  <img src="../img/s1-Bromo.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <div class="card-title text-center">
                      <h4>Owl Carousel</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 shadow">
                  <img src="../img/s2.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <div class="card-title text-center">
                      <h4>Owl Carousel</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 shadow">
                  <img src="../img/diving.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <div class="card-title text-center">
                      <h4>Owl Carousel</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 shadow">
                  <img src="../img/s4.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <div class="card-title text-center">
                      <h4>Owl Carousel</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 shadow">
                  <img src="../img/madakaripura-waterfall-is-tallest-waterfall-java.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <div class="card-title text-center">
                      <h4>Owl Carousel</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="card border-0 shadow">
                  <img src="../img/bali1.jpg" alt="" class="card-img-top" />
                  <div class="card-body">
                    <div class="card-title text-center">
                      <h4>Owl Carousel</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Destinasi End -->

    <!-- Head Service -->
    <div class="hero bg-dark">
      <div class="">
        <h1 class="text-center text-white">Service Kami</h1>
        <p class="text-center text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
          excepturi dolorem totam alias nihil quos ducimus facilis illo. Fugit,
          ipsum?
        </p>
      </div>
    </div>
    <!-- Head end -->

    <!-- Sevice -->
    <section>
      <div class="container mt-4">
        <div class="row">
          <div class="col-lg-6">
            <img src="../img/promo.jpg" alt="" />
          </div>
          <div class="col-lg-5 mt-4 pt-5">
            <h2 class="text-left text-warning pt-4">Discount 50%</h2>
            <p class="text-left">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia
              neque quibusdam soluta reiciendis sapiente odio quo laboriosam
              laborum recusandae aspernatur!
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- service end -->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
    ></script>

    <script>
      $(".owl-carousel").owlCarousel({
        loop: false,
        margin: 10,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: true,
          },
          600: {
            items: 3,
            nav: false,
          },
          1000: {
            items: 3,
            nav: true,
            loop: false,
          },
        },
      });
    </script>
  </body>
</html>
